:root {
	--font-settings: 'Open Sans', sans-serif; /* was: Arial, Helvetica, sans-serif; */
}

body {
	background-color: #172f50;
}

#container {
	max-width: 900px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 150px;
}

h1 {
	color: #f7f7f7;
	font-size: 48px;
	font-weight: normal;
	font-family: var(--font-settings);
	margin-top: 150px;
}

h2 {
	color: #61b5d9;
	font-size: 28px;
	font-weight: 300;
	font-family: var(--font-settings);
	/* font-style: italic; */
}

h3 {
	color: #61b5d9;
	font-size: 36px;
	font-weight: 300;
	font-family: var(--font-settings);
}

p {
	color: #f7f7f7;
	font-size: 20px;
	font-weight: 100;
	font-family: var(--font-settings);
}

li {
	color: #f7f7f7;
	font-size: 20px;
	font-weight: 300;
	font-family: var(--font-settings);
	/* margin: 5px 0 5px 0; */
}

a {
	color: #f7f7f7;
	font-size: 20px;
	font-weight: normal;
	font-family: var(--font-settings);
	/* text-decoration: none; */
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#github-link {
	/* display: inline-block; */
	float: right;
	margin-top: 5px;
	margin-bottom: 130px;
	opacity: .75;
}

#page-title {
	margin-bottom: 60px;
}

#second-h2 {
	margin-top: -15px;
	margin-bottom: 30px;
	font-weight: 400;
}

#intro {
	margin: 0 10px 0 10px;
}

.content-block {
	/* background-color: #334863; */
	/* padding: 20px; */
	margin-bottom: 60px;
}

#rmi-logo {
	width: 80px;
}

#rmi-tag {
	display: inline-block;
	float: right;
	max-width: 800px;
}

.github-logo {
	width: 25px;
	margin-bottom: -5px;
}

.linkedin-logo {
	width: 30px;
	margin-bottom: -7px;
}
